# GitHub Actions / flyctl
FLY_API_TOKEN=your-fly-api-token

# Fly Postgres app secret
POSTGRES_PASSWORD=your-postgres-password

# Fly API app secrets
DATABASE_URL=postgresql://postgres:your-postgres-password@your-db-host.flycast:5432/your-database-name
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
JWT_SECRET=your-jwt-secret
REDIS_URL=redis://your-redis-host:6379

# Fly app env defaults
BASE_DOMAIN=your-domain.com
NEXT_PUBLIC_API_URL=https://api.your-domain.com
NEXT_PUBLIC_BASE_DOMAIN=your-domain.com
